@charset "UTF-8";

* {
  box-sizing: border-box;
}

:root {
  --brown: #532300;
  --yellow: #ffff00;
  --accent: #ff6600;
  --base: #ffffff;
  --text: #333333; 
  --text-sub: #555555;
}


html {
  font-size: 100%;
}
body {
  color: var(--text);
  font-family: "Noto Sans", Arial, sans-serif;
  letter-spacing: .1em;
  background-color: #532300;
}
a {
  color: var(--text);
  text-decoration: none;
  transition: ease 0.3s;
}
a:hover {
  opacity: 0.7;
  transition: ease 0.3s;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.wrapper  {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
.sec-title {
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 1.3rem;
    border-left: 5px solid var(--accent);
}
.text {
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 20px;
}
.flex {
  display: flex;
}
.contact-link {
  text-align: center;
  margin-bottom: 100px;
}
.contact-link .tel-text {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #CB5338;
}
.contact-link .tel {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

/* --------------------------------
header
-------------------------------- */
#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  /* padding: 20px 0 20px 0; */
  background-color: rgba(83, 35, 0, 0.6);
  height: 80px;
  
}
#header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
#header .site-title a {
line-height: 1px;
}
#header .site-title img {
  height: 60px;
}
#header .site-title .logo-img {
  max-width: 205px;
}

#nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav .menu  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 26px;
}
#nav .menu .item {
  color: var(--yellow);
  font-size: 0.95rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
  line-height: 20px;
  letter-spacing: .1em;
  cursor: pointer;
}


#nav .menu > li {
  position: relative;
  /* border-right: 1px solid #0071b9; */
}

#nav .menu a {
  display: block;
  line-height: 1;
  z-index: 1;
}
#nav .menu {
  flex-flow: row wrap;
}
#nav .menu a {
  padding: 0.5em 0;
  color: var(--yellow);
}
#nav .sub {
  display: none;
  position: absolute;
  left: 0;
  top: 3.1em;
  width: 220px;
  z-index: 3;
}
#nav .sub > .sub-item > a {
  color: var(--yellow);
  line-height: 1.75;
  background-color: var(--brown);
  padding: 8px 18px;
}
#nav .sub > .sub-item > a:hover {
  background-color: #4b5a6a;
  opacity: 1;
}
#nav .sub > .sub-item:first-child > a {
  border-radius: 6px 6px 0 0;
}

#nav .sub > .sub-item:last-child > a {
  border-radius: 0 0 6px 6px;
}
.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  border-left: 5px solid var(--yellow);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: transform 0.3s ease;
}
.item.active .arrow {
  transform: rotate(90deg);
}





#nav .menu .item.no-border {
  border-right: 0
}
#nav .menu .item .sns .sns-logo,
#menu-sp .menu .item .sns-logo {
  height: 15px;
  display: inline-block;
}
#menu-sp .menu .item .sns-logo {
  margin-bottom: 3px;
}
#nav .menu .item .sns {
  display: flex;
}
#nav .menu .item .sns .instagram {
  margin-right: 10px;
}
#nav .menu .item .sns .youtube {
  margin-right: 10px;
}
#nav-sp {
  display: none;
}
#menu-sp {
  display: none;
}
#js-fixed-header {
  height: 80px;
  background-color: rgba(83, 35, 0, 0.6);
  position: fixed;
  top: -80px;
  left: 0;
  right: 0;
  z-index: 300;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  color: #000;
}
#js-fixed-header.is-show {
  top: 0;
  visibility: visible;
}
#js-fixed-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
#js-fixed-header .site-title a {
  line-height: 1px;
}
#js-fixed-header .site-title img {
  height: 60px;
}
#js-fixed-header .site-title .logo-img {
  max-width: 205px;
}
#fixed-nav .menu .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 26px;
}
#fixed-nav .menu .item {
  line-height: 20px;
  font-size: 0.95rem;
  font-weight: 400;
  letter-spacing: .1em;
  color: var(--yellow);
}
#fixed-nav .menu .menu-2 {
  display: block;
}
#fixed-nav .menu .menu-2 li a {
  padding: 12px 16px;
  display: block;
}
#fixed-nav .menu .item:last-child {
  margin-right: 0;
  border-right: 0;
}
#fixed-nav .menu .item.no-border {
  border-right: 0
}




#fixed-nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#fixed-nav .menu  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 26px;
}
#fixed-nav .menu .item {
  color: var(--yellow);
  font-size: 0.95rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
  line-height: 20px;
  letter-spacing: .1em;
  cursor: pointer;
}


#fixed-nav .menu > li {
  position: relative;
  /* border-right: 1px solid #0071b9; */
}

#fixed-nav .menu a {
  display: block;
  line-height: 1;
  z-index: 1;
}
#fixed-nav .menu {
  flex-flow: row wrap;
}
#fixed-nav .menu a {
  padding: 0.5em 0;
  color: var(--yellow);
}
#fixed-nav .sub {
  display: none;
  position: absolute;
  left: 0;
  top: 3.1em;
  width: 220px;
  z-index: 3;
}
#fixed-nav .sub > .sub-item > a {
  color: var(--yellow);
  line-height: 1.75;
  background-color: var(--brown);
  padding: 8px 18px;
}
#fixed-nav .sub > .sub-item > a:hover {
  background-color: #4b5a6a;
  opacity: 1;
}
#fixed-nav .sub > .sub-item:first-child > a {
  border-radius: 6px 6px 0 0;
}

#fixed-nav .sub > .sub-item:last-child > a {
  border-radius: 0 0 6px 6px;
}




#fixed-nav .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  border-left: 5px solid var(--yellow);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: transform 0.3s ease;
}
#fixed-nav .item.active .arrow {
  transform: rotate(90deg);
}





#fixed-nav-sp {
  display: none;
}
#fixed-menu-sp {
  display: none;
}


/* --------------------------------
animation
-------------------------------- */
.img-wrapper {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.js-zoom-fade {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.15); 
  opacity: 0;
  transition: transform 11s linear, opacity 2s ease-out;
  display: block;
}

/* --------------------------------
mainvisual
-------------------------------- */
#mainvisual {
  margin-bottom: 20px;
}
#mainvisual .slider .item .slider-img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  width: 100%;
}



/* --------------------------------
nav-menu
-------------------------------- */
#nav-menu {
  margin-bottom: 30px;
}
#nav-menu .flex {
  display: flex;
  justify-content: space-between;
  gap: 0 1.5%;
}
#nav-menu .flex .item {
  background-color: var(--base);
  border-radius: 5px;
  width: 24%;
  
}
#nav-menu .flex .item .item-title {
  background-color: var(--yellow);
  text-align: center;
  font-size: 1rem;
  padding: 12px;
  border-radius: 5px 5px 0 0;
}
#nav-menu .flex .item .text-link {
  padding: 20px;
}
#nav-menu .flex .item .text-link .link {
  line-height: 30px;
}

/* --------------------------------
self-introduction
-------------------------------- */
#self-introduction {
  margin-bottom: 30px;
  background-color: var(--base);
  border-radius: 8px;
  padding: 20px;
}
#self-introduction .flex {
  gap: 0 1%;
}
#self-introduction .flex .text-area {
  width: 70%;
}
#self-introduction .flex .img-area {
  width: 30%;
}
#self-introduction .flex .img-area .img {
  text-align: center;
  margin-bottom: 30px;
}
#self-introduction .flex .img-area .comment {
  display: block;
  text-align: center;
}

/* --------------------------------
news
-------------------------------- */
#news {
  margin-bottom: 30px;
  background-color: var(--base);
  border-radius: 8px;
  padding: 20px;
}
#news .flex {
  margin-bottom: 50px;
}
#news .flex .news-list {
  width: 60%;
} 
#news .flex .video {
  width: 40%;
}
#news .flex .video iframe {
  width: 100%;
  height: 350px;
}

#news .youtube {
  font-weight: normal;
  margin-bottom: 30px;
}

/* --------------------------------
footer
-------------------------------- */
#footer {
  margin-bottom: 50px;
}
#footer .flex {
  display: flex;
  justify-content: space-between;
} 
#footer .flex .flex-item {
  width: 32%;
  color: var(--yellow);
}
#footer .flex .flex-item a {
  color: var(--yellow);
}
#footer .flex .flex-item .copy {
  margin-top: 10px;
}

/* --------------------------------
fade
-------------------------------- */
.js-fadeUp {
  transition: 1.8s;
  opacity: 0;
  transform: translate(0,10px);
  -webkit-transform: translate(0,10px);
}
.js-fadeUp.is-inview {
  opacity: 1.0;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  transition-delay: 3.0s;
}

/* --------------------------------
フェードイン
-------------------------------- */
.js-scroll-fade {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1.8s cubic-bezier(.25,.8,.25,1) ,
              transform 1.8s cubic-bezier(.25,.8,.25,1) ;
  will-change: opacity, transform;
}
.js-scroll-fade.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}



/*-------------------------------------------
TB
-------------------------------------------*/
@media screen and (max-width: 1200px) {
  /* html {
    font-size: 0.7407vw;
  } */
  html {
    font-size: 1.2vw;
  }


  /* --------------------------------
  [TB]header
  -------------------------------- */
  #header {
    height: 60px;
  }
  #header .wrapper {
    padding: 0 40px;
    height: 60px;
  }
  #header .site-title {
  font-size: 2rem;
  }
  #header .site-title .logo-img {
    max-width: 150px;
  }
  #nav.pc {
    display: none;
  }
  #nav-sp {
    display: block;
  }
  #header .hamburger {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 16px;
    right: 40px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 100;
  }
  #header .hamburger span {
    width: 30px;
    height: 1px;
    border-radius: 4px;
    background-color: var(--yellow);
    position: absolute;
    left: 0px;
    transition: 0.5s;
  }
  #header .hamburger.bk span {
    background-color: #000;
  }
  #header .hamburger span:nth-child(1) {
    top: 5px;
  }
  #header .hamburger span:nth-child(2) {
    top: 15px;
  }
  #header .hamburger span:nth-child(3) {
    bottom: 5px;
  }
  #header.open .hamburger {
    position: fixed;
  }
  #header.open .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
    background-color: var(--yellow);
  }
  #header.open .hamburger span:nth-child(2) {
    opacity: 0;
  }
  #header.open .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
    background-color: var(--yellow);
  }
  #menu-sp {
    display: block;
    width: 100%;
    background-color: #532300;
    padding: 90px 30px 0 30px;
    position: fixed;
    top: 0;
    right: -1000px;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    z-index: 20;
    transition: 0.8s;
    font-size: 1.2rem;
  }
  #menu-sp .menu .item {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--yellow);
  }
  #menu-sp .menu .item a {
    color: var(--yellow);
  }
  #menu-sp .menu .item .sp-sub {
    margin-top: 5px;
  }
  #menu-sp .menu .item .sp-sub .sp-sub-item {
    position: relative;
    margin-bottom: 3px;
  }
  #menu-sp .menu .item .sp-sub .sp-sub-item a {
    margin-left: 20px;
  }
  #menu-sp .menu .item .sp-sub .sp-sub-item a::before {
    content: "";
    width: 6px;
    height: 1px;
    background-color: var(--yellow);
    position: absolute;
    top: 11px;
    left: 2px;
  }
  #menu-sp .menu .item.u-cottage {
    margin-bottom: 5px;
  }
  #menu-sp .menu .cottage.under-text {
    margin-bottom: 15px;
  }
  #menu-sp .menu .cottage {
    display: block;
    margin-bottom: 8px;
    margin-left: 25px;
    position: relative;
  }
  #menu-sp .menu .cottage::before {
    content: "";
    width: 6px;
    height: 1px;
    background-color: #00807F;
    position: absolute;
    top: 13px;
    left: -10px;
  }
  .open #menu-sp {
    right: 0;
    opacity: 1;
  }
  #mask {
    display: none;
  }
  .open #mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #js-fixed-header {
    height: 60px;
  }
  #js-fixed-header .wrapper {
    padding: 0 40px;
  }
  #js-fixed-header .site-title {
  font-size: 2rem;
  }
  #js-fixed-header .site-title .logo-img {
    max-width: 150px;
  }
  #fixed-nav.pc {
    display: none;
  }
  #fixed-nav-sp {
    display: block;
  }
  #js-fixed-header .hamburger {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 16px;
    right: 40px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 100;
  }
  #js-fixed-header .hamburger span {
    width: 30px;
    height: 1px;
    border-radius: 4px;
    background-color: var(--yellow);
    position: absolute;
    left: 0px;
    transition: 0.5s;
  }
  #js-fixed-header .hamburger.bk span {
    background-color: #000;
  }
  #js-fixed-header .hamburger span:nth-child(1) {
    top: 5px;
  }
  #js-fixed-header .hamburger span:nth-child(2) {
    top: 15px;
  }
  #js-fixed-header .hamburger span:nth-child(3) {
    bottom: 5px;
  }
  #js-fixed-header.open .hamburger {
    position: fixed;
  }
  #js-fixed-header.open .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
    background-color: #000;
  }
  #js-fixed-header.open .hamburger span:nth-child(2) {
    opacity: 0;
  }
  #js-fixed-header.open .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
    background-color: #000;
  }
  #fixed-menu-sp {
    display: block;
    width: 100%;
    background-color: var(--brown);
    padding: 90px 30px 0 30px;
    position: fixed;
    top: 0;
    right: -1000px;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    z-index: 20;
    transition: 0.8s;
  }
  #fixed-menu-sp .menu .item {
    margin-bottom: 20px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--yellow);
  }
  #fixed-menu-sp .menu .item a {
    color: var(--yellow);
  }
  #fixed-menu-sp .menu .item .sns-logo {
    height: 15px;
    display: inline-block;
    line-height: 1;
  }	
  #fixed-menu-sp .menu .item.u-cottage {
    margin-bottom: 5px;
  }
  #fixed-menu-sp .menu .cottage.under-text {
    margin-bottom: 15px;
  }
  #fixed-menu-sp .menu .cottage {
    display: block;
    margin-bottom: 8px;
    margin-left: 25px;
    position: relative;
  }
#js-fixed-header .menu .item .sp-sub {
  margin-top: 5px;
}

  #js-fixed-header .menu .item .sp-sub .sp-sub-item {
    position: relative;
    margin-bottom: 3px;
  }
  #js-fixed-header .menu .item .sp-sub .sp-sub-item a {
    margin-left: 20px;
  }
  #js-fixed-header .menu .item .sp-sub .sp-sub-item a::before {
    content: "";
    width: 6px;
    height: 1px;
    background-color: var(--yellow);
    position: absolute;
    top: 11px;
    left: 2px;
  }


  #fixed-menu-sp .menu .cottage::before {
    content: "";
    width: 6px;
    height: 1px;
    background-color: #00807F;
    position: absolute;
    top: 13px;
    left: -10px;
  }
  .open #fixed-menu-sp {
    right: 0;
    opacity: 1;
  }
  #fixed-mask {
    display: none;
  }
  .open #fixed-mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  /* --------------------------------
  [TB]mainvisual
  -------------------------------- */
  #mainvisual {
    height: 100vh;
  }
  #mainvisual .concept-title {
    font-size: 2.5rem;
  }
}


/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 768px) {
  html {
    font-size: 2.6667vw;
  }
  .wrapper-02  {
    padding: 0 20px;
  }
  .wrapper-03 {
    padding: 0 20px;
  }
  .wrapper-03.sp-none {
    padding: 0;
  }
  .wrapper-04 {
    padding: 0 20px;
  } 
  .page-title {
    margin-bottom: 60px;
    font-size: 1.5rem;
  }
  .page-sec-title {
    font-size: 1.3rem;
    border-left: 8px solid #137180;
    padding-left: 15px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .contact-link .btn {
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 10px 40px 10px 10px;
  }
  .contact-link .btn::after {
    width: 10px;
    height: 10px;
    top: 17px;
    right: 23px;
  }
  .contact-link .btn:hover::after {
    right: 30px;
  }
  .contact-link .tel-text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #CB5338;
  }
  .contact-link .tel {
    font-size: 1rem;
  }
    .br-pc {
    display: none;
  }
	
	.loading__logo {
  opacity: 0;
  animation: logo_fade 2s 0.5s forwards;
  width: 100px;
}

  /* --------------------------------
  [SP]header
  -------------------------------- */
  #header .site-title {
    font-size: 1.5rem;
  }
  #header .wrapper {
    padding: 0 20px;
  }
  #header .hamburger {
    right: 20px;
  }
  #js-fixed-header .hamburger {
    right: 20px;
  }

  /* --------------------------------
  [SP]スクロールダウン
  -------------------------------- */
  .scroll {
    right: 40px;
  }

  /* --------------------------------
  [SP]mainvisual
  -------------------------------- */
  #mainvisual {
    background-position: center top;
    background-image: url(../img/top/top-sp-img1.jpg);
  } 
  #mainvisual .br-sp {
    display: block;
  }
  #mainvisual .concept-title {
    bottom: 32.5px;
    left: 20px;
  }
  #mainvisual .concept-title .jp {
    font-size: 1.5rem;
    line-height: 36px;
    margin-bottom: 10px;
  }
  #mainvisual .concept-title .en {
    font-size: 0.9rem;
    line-height: 1.7;
  }
  /* --------------------------------
  [SP]nav-menu
  -------------------------------- */
  #nav-menu .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 1.5%;
  }
  #nav-menu .flex .item {
    width: 48%;
    
  }

  /* --------------------------------
  [SP]self-introduction
  -------------------------------- */
  #self-introduction .flex {
    flex-direction: column;
  }
  #self-introduction .flex .text-area {
    width: 100%;
  }
  #self-introduction .flex .img-area {
    width: 100%;
  }

  /* --------------------------------
  [SP]news
  -------------------------------- */
  #news .flex {
    flex-direction: column;
  }
  #news .flex .news-list {
    width: 100%;
  } 
  #news .flex .video {
    width: 100%;
  }


  /* --------------------------------
  [SP]footer
  -------------------------------- */

  #footer .flex {
    flex-direction: column;
    gap: 30px 0;
  } 

  #footer .flex .flex-item {
    width: 100%;
  }
  

}
  
